<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="mx-4 my-[50%] bg-red-400 w-[30vw]">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum libero asperiores hic a ex aliquid ipsa ipsum suscipit, ullam dolorem voluptatibus recusandae placeat soluta neque illo id. Adipisci, ex velit?
    </div>
</body>
</html>